.gigCard {
  width: 324px;
  height: 400px;
  // border: 1px solid rgb(237, 236, 236);
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

  .info {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    overflow: hidden;

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-size: 14px;
        font-weight: 500;
      }
    }

    p {
      color: #111;
      font-size: 14px;
      line-height: 1.4;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin: 0;
    }

    .star {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: auto;

      img {
        height: 14px;
        width: 14px;
      }

      span {
        font-size: 14px;
        font-weight: bold;
        color: #ffc108;
      }
    }
  }

  hr {
    border: 0.5px solid rgb(228, 228, 228);
    margin: 0;
  }

  .detail {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 16px;
      height: 16px;
      cursor: pointer;
      object-fit: contain;
    }

    .price {
      span {
        color: #999;
        font-size: 12px;
      }

      h2 {
        color: #555;
        font-size: 18px;
        font-weight: 400;
        text-align: end;
        margin: 5px 0 0 0;
      }
    }
  }
}
